<launch>
  <!-- Parameters -->
  <arg name="beta_1" default="0.0015108793" />
  <arg name="beta_2" default="0.0030759394" />
  <arg name="beta_3" default="0.0209484956" />
  <arg name="beta_4" default="0.0190882545" />
  <arg name="beta_5" default="-0.0087332785" />
  <arg name="beta_6" default="0.0281445351" />
  <arg name="beta_7" default="0.0200817239" />
  <arg name="beta_8" default="-0.0004093125" />
  <arg name="beta_9" default="0.0085052679" />
  <arg name="beta_10" default="0.0010222184" />
  <arg name="beta_11" default="-0.0007397988" />
  <arg name="beta_12" default="0.0028693465" />
  <arg name="beta_13" default="0.0025763766" />
  <arg name="beta_14" default="0.0721725284" />
  <arg name="beta_15" default="-0.0028335332" />
  <arg name="beta_16" default="0.1056639276" />
  <arg name="beta_17" default="-0.0081272976" />
  <arg name="beta_18" default="0.1105084965" />
  <arg name="plot_data" default="true" />

  <!-- Remapping -->
  <arg name="marker" default="base_marker_detection" />

  <node pkg="tuw_marker_noise" type="tuw_marker_noise.py" name="tuw_marker_noise">
      <param name="beta_1" value="$(arg beta_1)" />
      <param name="beta_2" value="$(arg beta_2)" />
      <param name="beta_3" value="$(arg beta_3)" />
      <param name="beta_4" value="$(arg beta_4)" />
      <param name="beta_5" value="$(arg beta_5)" />
      <param name="beta_6" value="$(arg beta_6)" />
      <param name="beta_7" value="$(arg beta_7)" />
      <param name="beta_8" value="$(arg beta_8)" />
      <param name="beta_9" value="$(arg beta_9)" />
      <param name="beta_10" value="$(arg beta_10)" />
      <param name="beta_11" value="$(arg beta_11)" />
      <param name="beta_12" value="$(arg beta_12)" />
      <param name="beta_13" value="$(arg beta_13)" />
      <param name="beta_14" value="$(arg beta_14)" />
      <param name="beta_15" value="$(arg beta_15)" />
      <param name="beta_16" value="$(arg beta_16)" />
      <param name="beta_17" value="$(arg beta_17)" />
      <param name="beta_18" value="$(arg beta_18)" />
      <param name="plot_data" value="$(arg plot_data)" />
      <remap from="marker" to="$(arg marker)" />
  </node>
</launch>

