<launch>
  <arg name="mode" default="0" />
  <arg name="plot_data" default="true" />
  <node name="local_planner" pkg="tuw_local_planner" type="tuw_local_planner_node" output="screen">
      <param name="mode" value="$(arg mode)" />
      <param name="plot_data" value="$(arg plot_data)" />
      <remap from="scan" to="/r1/front_laser/scan" />
      <remap from="cmd_vel" to="/r1/cmd_vel" />
  </node>
  <node name="gmapping" pkg="gmapping" type="slam_gmapping">
      <param name="odom_frame" value="/r1/odom" />
      <param name="base_frame" value="/r1/base_link" />
      <remap from="scan" to="/r1/front_laser/scan" />
      <remap from="map" to="/r1/map" />
      <remap from="map_metadata" to="/r1/map_metadata" />
  </node>
</launch>
