<launch>
  <arg name="mode" default="0" />
  <arg name="plot_data" default="true" />
  <node name="local_planner" pkg="tuw_local_planner" type="tuw_local_planner_node" output="screen">
      <param name="mode" value="$(arg mode)" />
      <param name="plot_data" value="$(arg plot_data)" />
      <remap from="scan" to="/r1/front_laser/scan" />
      <remap from="cmd_vel" to="/r1/cmd_vel" />
  </node>
  <node name="amcl" pkg="amcl" type="amcl">
      <param name="odom_frame_id" value="/r1/odom" />
      <param name="base_frame_id" value="/r1/base_link" />
      <param name="global_frame_id" value="/map" />
      <remap from="scan" to="/r1/front_laser/scan" />
      <remap from="map" to="/map" />
  </node>
</launch>
