<launch>
  <!-- Parameters -->
  <arg name="mapfile" default="fiducial.yaml" />

  <!-- Remapping -->
  <arg name="map" default="/slam/mt" />

  <node pkg="tuw_marker_server" type="tuw_marker_saver.py" name="tuw_marker_saver">
      <param name="mapfile" value="$(find tuw_marker_server)/map/$(arg mapfile)" />
      <remap from="map" to="$(arg map)" />
  </node>
</launch>

