<launch>
  <!-- Parameters -->
  <arg name="world" default="fiducial" />
  <arg name="mode" default="0" />
  <arg name="xzplane" default="false" />
  <arg name="frame_id_map" default="map" />
  <arg name="frame_id_odom" default="odom" />
  <arg name="frame_id_base" default="base_link" />
  <arg name="beta_1" default="0.0015103455" />
  <arg name="beta_2" default="0.003071759" />
  <arg name="beta_3" default="0.021011396" />
  <arg name="beta_4" default="0.0190693207" />
  <arg name="beta_5" default="-0.008735789" />
  <arg name="beta_6" default="0.0281365869" />
  <arg name="beta_7" default="0.020088797" />
  <arg name="beta_8" default="-0.0004039174" />
  <arg name="beta_9" default="0.0085393506" />
  <arg name="beta_10" default="0.0010229352" />
  <arg name="beta_11" default="-0.0007342643" />
  <arg name="beta_12" default="0.0028717525" />
  <arg name="beta_13" default="0.002575912" />
  <arg name="beta_14" default="0.0721304388" />
  <arg name="beta_15" default="-0.0026843387" />
  <arg name="beta_16" default="0.1055950503" />
  <arg name="beta_17" default="-0.0081320887" />
  <arg name="beta_18" default="0.1104663445" />
  <arg name="plot_data" default="false" />

  <!-- Remapping -->
  <arg name="marker_clear" default="base_marker_detection" />
  <arg name="marker_noise" default="marker_noise" />
  <arg name="cmd" default="cmd_vel" />

  <node name="stage_ros" pkg="stage_ros" type="stageros" args="$(find stage_ros)/world/$(arg world).world"/>

  <include file="$(find tuw_marker_noise)/launch/noise.launch">
      <arg name="beta_1" value="$(arg beta_1)" />
      <arg name="beta_2" value="$(arg beta_2)" />
      <arg name="beta_3" value="$(arg beta_3)" />
      <arg name="beta_4" value="$(arg beta_4)" />
      <arg name="beta_5" value="$(arg beta_5)" />
      <arg name="beta_6" value="$(arg beta_6)" />
      <arg name="beta_7" value="$(arg beta_7)" />
      <arg name="beta_8" value="$(arg beta_8)" />
      <arg name="beta_9" value="$(arg beta_9)" />
      <arg name="beta_10" value="$(arg beta_10)" />
      <arg name="beta_11" value="$(arg beta_11)" />
      <arg name="beta_12" value="$(arg beta_12)" />
      <arg name="beta_13" value="$(arg beta_13)" />
      <arg name="beta_14" value="$(arg beta_14)" />
      <arg name="beta_15" value="$(arg beta_15)" />
      <arg name="beta_16" value="$(arg beta_16)" />
      <arg name="beta_17" value="$(arg beta_17)" />
      <arg name="beta_18" value="$(arg beta_18)" />
      <arg name="plot_data" value="$(arg plot_data)" />
      <arg name="marker" value="$(arg marker_clear)" />
  </include>

  <include file="$(find tuw_marker_slam)/launch/slam.launch">
      <arg name="mode" value="$(arg mode)" />
      <arg name="xzplane" value="$(arg xzplane)" />
      <arg name="frame_id_map" value="$(arg frame_id_map)" />
      <arg name="frame_id_odom" value="$(arg frame_id_odom)" />
      <arg name="frame_id_base" value="$(arg frame_id_base)" />
      <arg name="beta_1" value="$(arg beta_1)" />
      <arg name="beta_2" value="$(arg beta_2)" />
      <arg name="beta_3" value="$(arg beta_3)" />
      <arg name="beta_4" value="$(arg beta_4)" />
      <arg name="beta_5" value="$(arg beta_5)" />
      <arg name="beta_6" value="$(arg beta_6)" />
      <arg name="beta_7" value="$(arg beta_7)" />
      <arg name="beta_8" value="$(arg beta_8)" />
      <arg name="beta_9" value="$(arg beta_9)" />
      <arg name="beta_10" value="$(arg beta_10)" />
      <arg name="beta_11" value="$(arg beta_11)" />
      <arg name="beta_12" value="$(arg beta_12)" />
      <arg name="beta_13" value="$(arg beta_13)" />
      <arg name="beta_14" value="$(arg beta_14)" />
      <arg name="beta_15" value="$(arg beta_15)" />
      <arg name="beta_16" value="$(arg beta_16)" />
      <arg name="beta_17" value="$(arg beta_17)" />
      <arg name="beta_18" value="$(arg beta_18)" />
      <arg name="cmd" value="$(arg cmd)" />
      <arg name="marker" value="$(arg marker_noise)" />
  </include>

  <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tuw_marker_slam)/rviz/stage.rviz"/>
</launch>
