<launch>
  <!-- Parameters -->
  <arg name="mode" default="0" />
  <arg name="xzplane" default="true" />
  <arg name="frame_id_map" default="/r1/map" />
  <arg name="frame_id_odom" default="/r1/odom" />
  <arg name="frame_id_base" default="/r1/base_link" />
  <arg name="beta_1" default="0.0015108793" />
  <arg name="beta_2" default="0.0030759394" />
  <arg name="beta_3" default="0.0209484956" />
  <arg name="beta_4" default="0.0190882545" />
  <arg name="beta_5" default="-0.0087332785" />
  <arg name="beta_6" default="0.0281445351" />
  <arg name="beta_7" default="0.0200817239" />
  <arg name="beta_8" default="-0.0004093125" />
  <arg name="beta_9" default="0.0085052679" />
  <arg name="beta_10" default="0.0010222184" />
  <arg name="beta_11" default="-0.0007397988" />
  <arg name="beta_12" default="0.0028693465" />
  <arg name="beta_13" default="0.0025763766" />
  <arg name="beta_14" default="0.0721725284" />
  <arg name="beta_15" default="-0.0028335332" />
  <arg name="beta_16" default="0.1056639276" />
  <arg name="beta_17" default="-0.0081272976" />
  <arg name="beta_18" default="0.1105084965" />

  <!-- Remapping -->
  <arg name="marker" default="/r1/markers" />
  <arg name="cmd" default="/r1/cmd_vel" />

  <include file="$(find tuw_gazebo_models)/launch/pioneer3dx/pioneer3dx.launch"/>
  <include file="$(find tuw_gazebo_models)/launch/visual_marker_cave.launch"/>
  <include file="$(find tuw_aruco)/launch/single_marker_gazebo.launch"/>

  <include file="$(find tuw_marker_slam)/launch/slam.launch">
      <arg name="mode" value="$(arg mode)" />
      <arg name="xzplane" value="$(arg xzplane)" />
      <arg name="frame_id_map" value="$(arg frame_id_map)" />
      <arg name="frame_id_odom" value="$(arg frame_id_odom)" />
      <arg name="frame_id_base" value="$(arg frame_id_base)" />
      <arg name="beta_1" value="$(arg beta_1)" />
      <arg name="beta_2" value="$(arg beta_2)" />
      <arg name="beta_3" value="$(arg beta_3)" />
      <arg name="beta_4" value="$(arg beta_4)" />
      <arg name="beta_5" value="$(arg beta_5)" />
      <arg name="beta_6" value="$(arg beta_6)" />
      <arg name="beta_7" value="$(arg beta_7)" />
      <arg name="beta_8" value="$(arg beta_8)" />
      <arg name="beta_9" value="$(arg beta_9)" />
      <arg name="beta_10" value="$(arg beta_10)" />
      <arg name="beta_11" value="$(arg beta_11)" />
      <arg name="beta_12" value="$(arg beta_12)" />
      <arg name="beta_13" value="$(arg beta_13)" />
      <arg name="beta_14" value="$(arg beta_14)" />
      <arg name="beta_15" value="$(arg beta_15)" />
      <arg name="beta_16" value="$(arg beta_16)" />
      <arg name="beta_17" value="$(arg beta_17)" />
      <arg name="beta_18" value="$(arg beta_18)" />
      <arg name="cmd" value="$(arg cmd)" />
      <arg name="marker" value="$(arg marker)" />
  </include>

  <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tuw_marker_slam)/rviz/gazebo.rviz"/>
</launch>
