<launch>
  <!-- Parameters -->
  <arg name="world" default="fiducial2" />
  <arg name="beta_1" default="1.11840023647110e-03" />
  <arg name="beta_2" default="1.08841788897499e-02" />
  <arg name="beta_3" default="4.49500672685259e-07" />
  <arg name="beta_4" default="7.03448116182080e-05" />
  <arg name="beta_5" default="2.88386534626639e-06" />
  <arg name="beta_6" default="2.46471128604309e-05" />
  <arg name="plot_data" default="false" />
  <arg name="planner_mode" default="0" />

  <!-- Remapping -->
  <arg name="laser" default="base_scan" />
  <arg name="marker_clear" default="base_marker_detection" />
  <arg name="marker_noise" default="marker_noise" />
  <arg name="cmd" default="cmd_vel" />

  <node name="stage_ros" pkg="stage_ros" type="stageros" args="$(find stage_ros)/world/$(arg world).world"/>

  <node pkg="tuw_marker_noise" type="tuw_marker_noise.py" name="tuw_marker_noise">
      <param name="beta_1" value="$(arg beta_1)" />
      <param name="beta_2" value="$(arg beta_2)" />
      <param name="beta_3" value="$(arg beta_3)" />
      <param name="beta_4" value="$(arg beta_4)" />
      <param name="beta_5" value="$(arg beta_5)" />
      <param name="beta_6" value="$(arg beta_6)" />
      <param name="plot_data" value="$(arg plot_data)" />
      <remap from="marker" to="$(arg marker_clear)" />
  </node>

  <node pkg="tuw_local_planner" type="tuw_local_planner_node" name="local_planner" output="screen">
      <param name="plot_data" value="$(arg plot_data)" />
      <param name="mode" value="$(arg planner_mode)" />
      <remap from="laser" to="$(arg laser)" />
      <remap from="marker" to="$(arg marker_noise)" />
  </node>

  <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tuw_marker_slam)/rviz/config.rviz"/>
</launch>
